services:

  postgres:
    image: postgres:13.3
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB" ]
      interval: 5s
      timeout: 3s
      retries: 5


  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "9092" ]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka-ui:
    container_name: kafka-ui
    image: provectuslabs/kafka-ui:latest
    ports:
      - 8082:8080
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    depends_on:
      kafka:
        condition: service_healthy

  init-topics:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      kafka:
        condition: service_healthy
    entrypoint: ["/bin/bash", "-c"]
    command: |
      "
      sleep 5
      echo -e 'Creating kafka topics'
      /usr/bin/kafka-topics --create --topic note.created --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1
      /usr/bin/kafka-topics --create --topic note.deleted --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1
      echo -e 'Successfully created the following topics:'
      /usr/bin/kafka-topics --bootstrap-server kafka:9092 --list
      "
  alembic_migration:
    build:
      context: .
    env_file:
      - .env
    command: >
      sh -c "alembic upgrade head"
    restart: "no"
    depends_on:
      postgres:
        condition: service_healthy


  notes-app:
    build:
      context: .
    depends_on:
      kafka:
        condition: service_healthy
      alembic_migration:
        condition: service_completed_successfully
    env_file:
      - .env
    command: >
      sh -c "uv run notes_app"
    ports:
      - "8000:8000"

  redis:
    image: redis:7.2-alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}
    env_file:
      - .env
    ports:
      - "6380:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - redis_data:/data

  redis_ui:
    image: redis/redisinsight:latest
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDISINSIGHT_HOST=0.0.0.0
      - REDISINSIGHT_ACCEPT_LICENSE=true
    ports:
      - "5540:5540"
    depends_on:
      - redis


  celery_worker:
    build:
      context: .
    env_file:
      - .env
    command: celery -A notes_app.infrastructure.task_scheduler.main worker --loglevel=info
    depends_on:
      redis:
        condition: service_healthy
      alembic_migration:
        condition: service_completed_successfully

  celery_beat:
    build:
      context: .
    env_file:
      - .env
    command: celery -A notes_app.infrastructure.task_scheduler.main beat --loglevel=info
    depends_on:
      redis:
        condition: service_healthy
      alembic_migration:
        condition: service_completed_successfully

volumes:
  postgres_data:
  redis_data:
